body {
  margin: 0;
  background: #fff7e3;
}

* {
  box-sizing: border-box;
}

div {
  box-sizing: border-box;
}

button {
  border: 0;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
